<table>
  <% @files.each do |tag_name, file| %>
    <tr>
      <td><%= tag_name %></td>
      <td><%= link_to 'Download', file[:url] %></td>
      <td><%= file[:users_size] %></td>
      <td><%= raw file[:results].map{|el| "<nobr>" + el.join(' : ') + "</nobr>"}.join(' / ') %></td>
    </tr>
  <% end %>
</table>

<p>Uniq users size: <%= @uniq_users %></p>

