<div class="profile-page">
  <header class="header">
    <div class="row">
      <div class="col-sm-3">
        <div class="avatar">
          <%= image_tag @user.profile_picture, class: "img-circle" %>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="author-info">
          <ul class="statistics">
            <li class="statistic">
              <span class="statistic-label">Username:</span>
              <span class="statistic-value"><%= @user.username %></span>
            </li>
            <li class="statistic">
              <span class="statistic-label">Full name:</span>
              <span class="statistic-value"><%= @user.full_name %></span>
            </li>
            <li class="statistic">
              <span class="statistic-label">Website:</span>
              <span class="statistic-value">
                <%= link_to @user.website.sub(/^https?:\/\//, ''), @user.website, class: "website-link", rel: "nofollow me", target: "_blank" if @user.website.present? %>
              </span>
            </li>
            <% if @user.location? %>
              <li class="statistic">
                <span class="statistic-label">Location:</span>
                <span class="statistic-value location-statistic"><%= @user.location %></span>
              </li>
            <% end %>
            <% if @user.avg_likes_updated_at? %>
              <li class="statistic">
                <span class="statistic-label">AVG Likes:</span>
                <span class="statistic-value avg-likes-statistic"><%= @user.avg_likes %></span>
              </li>
              <li class="statistic">
                <span class="statistic-label">AVG Comments:</span>
                <span class="statistic-value avg-comments-statistic"><%= @user.avg_comments %></span>
              </li>
            <% end %>
          </ul>

          <div class="followers-info">
            <div class="row text-center">
              <div class="col-sm-2">
                <%= @user.followed_by %><br/>
                <span class="desc">Total followers</span>
              </div>
              <div class="col-sm-3">
                <%= (@user.followers.where('followed_by > 250').size / @user.followers_size.to_f * 100).round %>%<br/>
                <span class="desc">Percent of followers with user base that have more than 250 followers</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="followers-bars" data-data="<%= @user.followers_analytics.to_a %>"></div>
</div>