<h3>Instagram Accounts</h3>
<table class="table">
  <thead>
  <tr>
    <th>Client ID</th>
    <th>Logged In Accounts</th>
    <% if params[:remaining] %>
      <th>Calls Remaining</th>
    <% end %>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.client_id %></td>
      <td>
        <% usernames = [] %>
        <% account.logins.each do |login| %>
          <% usernames << login.user.username if login.user.present? %>
        <% end %>
        <% if usernames.size > 0 %>
          <%= usernames.join(', ') %>
        <% else %>
          <i style="color: gray;">no logins</i>
        <% end %>
      </td>
      <% if params[:remaining] %>
        <td>
          <%
             resp = nil
             limit = account.logins.size * 5_000
             remaining = 0
             account.logins.each do |login|
               remaining += Rails.cache.fetch("insta_login_rate_#{login.id}", expires_in: 1.minute) do
                 amount = 0
                 begin
                   client = InstaClient.new(login).client
                   resp = client.utils_raw_response
                   amount = resp.headers[:x_ratelimit_remaining].to_i
                 rescue => e
                   0
                 end

                 amount
               end
             end
          %>
          <%= remaining %> / <%= limit %>
        </td>
      <% end %>
      <td><%= link_to('Login', oauth_connect_path(key: account.client_id)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @accounts %>