<h3>Basic links</h3>
<p><%#= link_to "Get all users from all #{Tag.observed.size} tags", export_path(format: :csv) %></p>

<ul>
  <li><%= link_to 'API Limits', clients_status_path %></li>
  <li>Chart <%= link_to 'saksfifthavenue, neimanmarcus, bloomingdales, nordstrom', chart_path(tags: %w(saksfifthavenue neimanmarcus bloomingdales nordstrom)) %></li>
  <li>Chart <%= link_to 'toryburch, alexanderwang, michaelkors, dkny, marcjacobs', chart_path(tags: %w(toryburch alexanderwang michaelkors dkny marcjacobs)) %></li>
  <li>Chart <%= link_to 'katespadenewyork, rebeccaminkoff, dvf', chart_path(tags: %w(katespadenewyork rebeccaminkoff dvf)) %></li>
  <li>Totally tracking tags: <%= Tag.where(observed: true).size %></li>
  <li>Tags in csv: <%= Tag.where(observed: true, grabs_users_csv: true).size %></li>
  <li>Tags in charts: <%= Tag.where(observed: true, show_graph: true).size %></li>
</ul>