<h3>Basic links</h3>
<p><%= link_to "Get all users from all #{Tag.observed.size} tags", export_path(format: :csv) %></p>
<% Rails.application.secrets.instagram_client_id.each do |key| %>
  <p><%= link_to "Login to Instagram with client id #{key}", oauth_connect_path(key: key) %></p>
<% end %>

<h3>View API Rate Limit and calls remaining</h3>

<% @response.each do |index, value| %>
  <p><strong><%= Rails.application.secrets.instagram_client_id[index] %></strong><br>Rate Limit = <%= value.headers[:x_ratelimit_limit] %>.  <br/>Calls Remaining = <%= value.headers[:x_ratelimit_remaining] %></p>
<% end %>