<h3>Basic links</h3>
<p><%#= link_to "Get all users from all #{Tag.observed.size} tags", export_path(format: :csv) %></p>

<ul>
  <li>Totally tracking tags: <%= @observed_amount %>. <%= link_to 'List', tags_path(filter: :observed) %></li>
  <li>Tags in csv: <%= @exportable_amount %></li>
  <li>Tags in charts: <%= @chartable_amount %></li>
</ul>

<br/>
<br/>

<h3>Process users ids duplciates here</h3>
<%= form_tag users_duplicates_path, multipart: true do %>
  <p><%= file_field_tag :file,  %></p>
  <%= button_tag :submit, class: 'btn btn-primary' %>
<% end %>