<p>Report file: <%= link_to "Download", @file %></p>
<% if @report.note.present? %>
  <table>
    <tr>
      <td><strong>Note:</strong></td>
      <td><%= simple_format @report.note %></td>
    </tr>
  </table>
<% end %>
<table>
  <thead>
  <tr>
    <th>Date from</th>
    <th>Date to</th>
    <th>Input tags amount</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @report.date_from.strftime('%m/%d/%Y') if @report.date_from %></td>
    <td><%= @report.date_to.strftime('%m/%d/%Y') if @report.date_to %></td>
    <td><%= @report.processed_csv.size %></td>
  </tr>
  </tbody>
</table>